.button {
    /*text*/
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Source Sans 3;
    font-size: 14px;
    font-style: bold;
    font-weight: 500;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.28px;

    
    border: 0;
    cursor: pointer;
    position: relative;

    
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
  }

  /*style*/
.button-style-primary {
    --main-bg-color: #369FFF;
    --text-color: #FFFFFF;
    --main-text-color:#369FFF;
    --secondary-bg-color: #369FFF1F;
    
  }
.button-style-secondary {
    --main-bg-color: #EBEBEC;
    --text-color: #1A1B1C;
    --main-text-color:#1A1B1C;
    --secondary-bg-color:#EBEBEC78;
  }
.button-style-danger {
    --main-bg-color: #E32121;
    --text-color: #FFFFFF;
    --main-text-color: #E32121;
    --secondary-bg-color:#E321211A;
  }

  /*size*/
.button-size-small {
    display: inline-flex;
    padding: 5px;
    align-items: center;
    border-radius: var(--radius-radius-m, 8px);
  }
.button-size-medium {
  
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-radius-m, 8px);
    padding: 8px;
  }
.button-size-large {
  
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-radius-m, 8px); 
    padding: 12px;
  }
  /*type*/
  .button-type-solid{
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }
  .button-type-outline{    
    border-radius: var(--radius-radius-m, 8px);
    border: 1px solid var(--main-color);
    color:  var(--main-text-color);
    background-color: white;
  }
  .button-type-soft{
    color:  var(--main-text-color);
    background-color: var(--secondary-bg-color);
  }
  .button-type-ghost{

    color:  var(--main-text-color);
    background-color: white;
  }


/*state*/ 
.button-state-default {
   
}
.button-state-hover{
  filter: brightness(60%);
}
.button-state-disabled {
  color: #787878;
  background-color: #EBEBEC;
}



 /*icon type*/
.button-iconType-none{
     
}
.button-iconType-leading{
  
  gap:  6px;
}

.button-iconType-trailing{
  gap:  6px;
    
}
.button-iconType-leadingTrailing{
  gap: 6px;
    
}
.button-iconType-standalone{
  
  align-items: center;
  gap:  6px;
    
}